ul {
    list-style-type: none;
}

.sprite {
    width: 60px;
}

li {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    cursor: pointer;
}

li:hover {
    background: grey;
}

li a {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
}

mat-nav-list {
    overflow: auto;
    height: calc(100% - 8px);
}